In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
calendar =pd.read_csv('calendar.csv',encoding='utf-8')

In [4]:
listings =pd.read_csv('listings.csv',encoding='utf-8')

C:\Users\57319\AppData\Local\Temp\ipykernel_2692\2752411743.py:1: DtypeWarning: Columns (61,62,95) have mixed types. Specify dtype option on import or set low_memory=False.
  listings =pd.read_csv('listings.csv',encoding='utf-8')

In [5]:
reviews=pd.read_csv('reviews.csv', encoding='utf-8')

In [6]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8661286 entries, 0 to 8661285
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 462.6+ MB

In [7]:
print(calendar.isna().sum())

listing_id          0
date                0
available           0
price               0
adjusted_price      0
minimum_nights    105
maximum_nights    105
dtype: int64

In [8]:
promedio_minights=calendar['minimum_nights'].mean()
print(promedio_minights)

6.043400432342887

In [9]:
promedio_maxnights=calendar['maximum_nights'].mean()
print(promedio_maxnights)

768.5193377208027

In [10]:
calendar['minimum_nights'].fillna(6, inplace=True)

C:\Users\57319\AppData\Local\Temp\ipykernel_2692\2688225071.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calendar['minimum_nights'].fillna(6, inplace=True)

In [11]:
calendar['maximum_nights'].fillna(768, inplace=True)

C:\Users\57319\AppData\Local\Temp\ipykernel_2692\3420130726.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calendar['maximum_nights'].fillna(768, inplace=True)

In [12]:
print(calendar.isna().sum())

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [13]:
calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,50778,2020-04-26,f,"$2,655.00","$2,655.00",5.0,1125.0
1,133654,2020-04-27,t,"$1,150.00","$1,150.00",4.0,1125.0
2,133654,2020-04-28,t,"$1,150.00","$1,150.00",4.0,1125.0
3,133654,2020-04-29,t,"$1,150.00","$1,150.00",4.0,1125.0
4,133654,2020-04-30,t,"$1,150.00","$1,150.00",4.0,1125.0
...,...,...,...,...,...,...,...
8661281,43178560,2021-04-21,f,"$3,319.00","$3,319.00",1.0,1125.0
8661282,43178560,2021-04-22,f,"$3,319.00","$3,319.00",1.0,1125.0
8661283,43178560,2021-04-23,f,"$3,319.00","$3,319.00",1.0,1125.0
8661284,43178560,2021-04-24,f,"$3,319.00","$3,319.00",1.0,1125.0
8661285,43178560,2021-04-25,f,"$3,319.00","$3,319.00",1.0,1125.0

In [14]:
calendar['minimum_nights']=calendar['minimum_nights'].astype(int)
calendar['maximum_nights']=calendar['maximum_nights'].astype(int)

In [15]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8661286 entries, 0 to 8661285
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int32
 6   maximum_nights  int32
dtypes: int32(2), int64(1), object(4)
memory usage: 396.5+ MB

In [110]:
calendar.head(50)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,50778,2020-04-26,f,2655.00,"$2,655.00",5,1125
1,133654,2020-04-27,t,1150.00,"$1,150.00",4,1125
2,133654,2020-04-28,t,1150.00,"$1,150.00",4,1125
3,133654,2020-04-29,t,1150.00,"$1,150.00",4,1125
4,133654,2020-04-30,t,1150.00,"$1,150.00",4,1125
5,133654,2020-05-01,t,1150.00,"$1,150.00",4,1125
6,133654,2020-05-02,t,1150.00,"$1,150.00",4,1125
7,133654,2020-05-03,t,1150.00,"$1,150.00",4,1125
8,133654,2020-05-04,t,1150.00,"$1,150.00",4,1125
9,133654,2020-05-05,t,1150.00,"$1,150.00",4,1125
10,133654,2020-05-06,t,1150.00,"$1,150.00",4,1125
11,133654,2020-05-07,t,1150.00,"$1,150.00",4,1125
12,11508,2020-04-26,t,3983.00,"$3,983.00",2,1125
13,11508,2020-04-27,t,3983.00,"$3,983.00",2,1125
14,11508,2020-04-28,t,3983.00,"$3,983.00",2,1125
15,11508,2020-04-29,t,3983.00,"$3,983.00",2,1125
16,11508,2020-04-30,t,3983.00,"$3,983.00",2,1125
17,11508,2020-05-01,t,3983.00,"$3,983.00",2,1125
18,11508,2020-05-02,t,3983.00,"$3,983.00",2,1125
19,11508,2020-05-03,t,3983.00,"$3,983.00",2,1125
20,11508,2020-05-04,t,3983.00,"$3,983.00",2,1125
21,11508,2020-05-05,t,3983.00,"$3,983.00",2,1125
22,11508,2020-05-06,t,3983.00,"$3,983.00",2,1125
23,11508,2020-05-07,t,3983.00,"$3,983.00",2,1125
24,11508,2020-05-08,t,3983.00,"$3,983.00",2,1125
25,11508,2020-05-09,t,3983.00,"$3,983.00",2,1125
26,11508,2020-05-10,t,3983.00,"$3,983.00",2,1125
27,11508,2020-05-11,t,3983.00,"$3,983.00",2,1125
28,11508,2020-05-12,t,3983.00,"$3,983.00",2,1125
29,11508,2020-05-13,t,3983.00,"$3,983.00",2,1125
30,11508,2020-05-14,t,3983.00,"$3,983.00",2,1125
31,11508,2020-05-15,t,3983.00,"$3,983.00",2,1125
32,11508,2020-05-16,t,3983.00,"$3,983.00",2,1125
33,11508,2020-05-17,t,3983.00,"$3,983.00",2,1125
34,11508,2020-05-18,t,3983.00,"$3,983.00",2,1125
35,11508,2020-05-19,t,3983.00,"$3,983.00",2,1125
36,11508,2020-05-20,t,3983.00,"$3,983.00",2,1125
37,11508,2020-05-21,t,3983.00,"$3,983.00",2,1125
38,11508,2020-05-22,t,3983.00,"$3,983.00",2,1125
39,11508,2020-05-23,t,3983.00,"$3,983.00",2,1125
40,11508,2020-05-24,t,3983.00,"$3,983.00",2,1125
41,11508,2020-05-25,t,3983.00,"$3,983.00",2,1125
42,11508,2020-05-26,t,3983.00,"$3,983.00",2,1125
43,11508,2020-05-27,t,3983.00,"$3,983.00",2,1125
44,11508,2020-05-28,t,3983.00,"$3,983.00",2,1125
45,11508,2020-05-29,t,3983.00,"$3,983.00",2,1125
46,11508,2020-05-30,t,3983.00,"$3,983.00",2,1125
47,11508,2020-05-31,t,3983.00,"$3,983.00",2,1125
48,11508,2020-06-01,t,3983.00,"$3,983.00",2,1125
49,11508,2020-06-02,t,3983.00,"$3,983.00",2,1125

In [106]:
calendar.loc[calendar['price'].str.contains('$', case=False), 'price']=calendar['price'].str.replace('$','', case=False)

In [ ]:
calendar.loc[calendar['price'].str.contains('$', case=False), 'price']=calendar['price'].str.replace('$','', case=False)

In [109]:
calendar.loc[calendar['price'].str.contains(',', case=False), 'price']=calendar['price'].str.replace(',','', case=False)

In [16]:
#calendar.to_csv('calendario.csv', index=False)

In [17]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23729 entries, 0 to 23728
Columns: 106 entries, id to reviews_per_month
dtypes: float64(23), int64(21), object(62)
memory usage: 19.2+ MB

In [18]:
#listings.head(3)

In [19]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [20]:
#print(listings.isna().sum())

In [21]:
listings.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,2.372900e+04,2.372900e+04,0.0,0.0,0.0,2.372900e+04,23726.000000,23726.000000,0.0,23729.000000,23729.000000,23729.000000,23667.000000,23686.000000,23562.000000,383.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.000000,23729.00000,23729.000000,16839.000000,16822.000000,16822.000000,16822.000000,16821.000000,16822.000000,16820.000000,0.0,23729.000000,23729.000000,23729.000000,23729.000000,17222.000000
mean,2.668555e+07,2.020043e+13,NaN,NaN,NaN,1.052637e+08,9.765869,9.765869,NaN,-34.592575,-58.415900,2.761768,1.259243,1.135988,1.863085,486.227154,1.377934,6.027519,649.528257,5.909520,6.184036,767.912091,769.469931,6.042952,768.516769,19.494711,41.351384,63.909225,209.383750,16.31333,6.299254,94.652830,9.681726,9.397218,9.818928,9.794186,9.833789,9.455648,NaN,6.272704,5.401534,0.551561,0.094146,1.053696
std,1.263388e+07,0.000000e+00,NaN,NaN,NaN,9.990251e+07,70.044391,70.044391,NaN,0.018282,0.029925,1.480604,0.631629,0.859007,1.486757,868.125617,0.947027,25.635455,879.448830,25.310728,25.702117,865.555470,865.193033,25.469808,865.281432,12.985137,24.820986,35.916486,137.991373,32.32226,11.242998,8.892571,0.861283,1.040520,0.699327,0.734712,0.611955,0.955080,NaN,14.675388,14.421592,1.718802,0.893562,1.158269
min,1.150800e+04,2.020043e+13,NaN,NaN,NaN,2.616000e+03,0.000000,0.000000,NaN,-34.688950,-58.530200,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.765680e+07,2.020043e+13,NaN,NaN,NaN,1.546679e+07,1.000000,1.000000,NaN,-34.603430,-58.435380,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,60.000000,1.000000,2.000000,90.000000,90.000000,1.300000,90.000000,0.000000,19.000000,36.000000,89.000000,0.00000,0.000000,93.000000,10.000000,9.000000,10.000000,10.000000,10.000000,9.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.230000
50%,3.000878e+07,2.020043e+13,NaN,NaN,NaN,6.886052e+07,1.000000,1.000000,NaN,-34.591890,-58.415160,2.000000,1.000000,1.000000,1.000000,377.000000,1.000000,3.000000,1125.000000,3.000000,3.000000,1125.000000,1125.000000,3.000000,1125.000000,28.000000,58.000000,87.000000,180.000000,4.00000,1.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.640000
75%,3.736241e+07,2.020043e+13,NaN,NaN,NaN,1.841516e+08,4.000000,4.000000,NaN,-34.582150,-58.391750,4.000000,1.500000,1.000000,2.000000,646.000000,1.000000,4.000000,1125.000000,4.000000,5.000000,1125.000000,1125.000000,4.000000,1125.000000,30.000000,60.000000,90.000000,363.000000,18.00000,7.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,4.000000,2.000000,0.000000,0.000000,1.470000
max,4.328606e+07,2.020043e+13,NaN,NaN,NaN,3.445900e+08,1511.000000,1511.000000,NaN,-34.534100,-58.355410,16.000000,30.000000,30.000000,50.000000,13907.000000,16.000000,1125.000000,99999.000000,1125.000000,1125.000000,99999.000000,99999.000000,1125.000000,99999.000000,30.000000,60.000000,90.000000,365.000000,500.00000,125.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,99.000000,99.000000,26.000000,19.000000,10.730000

In [22]:
listings.shape

(23729, 106)

In [23]:
calendar.shape

(8661286, 7)

In [24]:
reviews.shape

(387099, 6)

In [25]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387099 entries, 0 to 387098
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     387099 non-null  int64
 1   id             387099 non-null  int64
 2   date           387099 non-null  object
 3   reviewer_id    387099 non-null  int64
 4   reviewer_name  387099 non-null  object
 5   comments       386923 non-null  object
dtypes: int64(3), object(3)
memory usage: 17.7+ MB

In [26]:
print(reviews.isna().sum())

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         176
dtype: int64

In [27]:
reviews['comments'].fillna('Sin comentarios', inplace=True)

C:\Users\57319\AppData\Local\Temp\ipykernel_2692\90144050.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  reviews['comments'].fillna('Sin comentarios', inplace=True)

In [28]:
print(reviews.isna().sum())

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [29]:
#reviews

In [30]:
reviews.drop('reviewer_name', axis=1, inplace=True)

In [31]:
print(reviews.isna().sum())

listing_id     0
id             0
date           0
reviewer_id    0
comments       0
dtype: int64

In [32]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387099 entries, 0 to 387098
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   listing_id   387099 non-null  int64
 1   id           387099 non-null  int64
 2   date         387099 non-null  object
 3   reviewer_id  387099 non-null  int64
 4   comments     387099 non-null  object
dtypes: int64(3), object(2)
memory usage: 14.8+ MB

In [33]:
listas= listings[['id','host_id','host_acceptance_rate','city','state','country','latitude','longitude','property_type','room_type',
                  'bathrooms','bedrooms','price','review_scores_rating']].copy()

In [34]:
listas.shape

(23729, 14)

In [35]:
print(listas.isna().sum())

id                         0
host_id                    0
host_acceptance_rate    5199
city                     587
state                    183
country                    0
latitude                   0
longitude                  0
property_type              0
room_type                  0
bathrooms                 62
bedrooms                  43
price                      0
review_scores_rating    6890
dtype: int64

In [95]:
listas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23729 entries, 0 to 23728
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    23729 non-null  int64
 1   host_id               23729 non-null  int64
 2   city                  23729 non-null  object
 3   state                 23729 non-null  object
 4   country               23729 non-null  object
 5   latitude              23729 non-null  float64
 6   longitude             23729 non-null  float64
 7   property_type         23729 non-null  object
 8   room_type             23729 non-null  object
 9   bathrooms             23729 non-null  float64
 10  price                 23729 non-null  object
 11  review_scores_rating  23729 non-null  float64
dtypes: float64(4), int64(2), object(6)
memory usage: 2.2+ MB

In [37]:
listas.drop('host_acceptance_rate', axis=1, inplace=True)

In [38]:
listas.drop('bedrooms', axis=1, inplace=True)

In [ ]:
filtro=listas[listas['bathrooms'].isna()]
filtro

In [40]:
tiposPropiedad= listas['property_type'].unique()
print(tiposPropiedad)

['Condominium' 'Apartment' 'Bed and breakfast' 'Other' 'Loft' 'House'
 'Townhouse' 'Aparthotel' 'Serviced apartment' 'Guest suite' 'Camper/RV'
 'Car' 'Hostel' 'Guesthouse' 'Villa' 'Boutique hotel' 'Tiny house' 'Hotel'
 'Resort' 'Cabin' 'Casa particular (Cuba)' 'Farm stay' 'Chalet' 'Bungalow'
 'Castle' 'In-law' 'Dorm' 'Boat' 'Earth house' 'Dome house' 'Cottage'
 'Tent' 'Pension (South Korea)' 'Campsite']

In [41]:
#listas['bedrooms'].fillna(listas['bedrooms'].mean(), inplace=True)

In [63]:
print(listas.isna().sum())

id                      0
host_id                 0
city                    0
state                   0
country                 0
latitude                0
longitude               0
property_type           0
room_type               0
bathrooms               0
price                   0
review_scores_rating    0
dtype: int64

In [ ]:
listas['city'].fillna('Sin registrar', inplace=True)

In [ ]:
listas['state'].fillna('Sin registrar', inplace=True)

In [ ]:
listas['bathrooms'].fillna(int(1), inplace=True)

In [ ]:
listas['review_scores_rating'].fillna(listas['review_scores_rating'].mean(), inplace=True)

In [ ]:
listas.head(20)

In [48]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [77]:
nombresCiudades= listas['city'].unique()
print(nombresCiudades)

[' CABA' 'Palermo/ CABA' 'Retiro' 'Palermo' 'CABA' 'Sin registrar' 'CABA '
 'Recoleta' 'Monserrat' 'Almagro' '1425  CABA' ' CABA ' 'Capital federal'
 'Capital Federal' 'Las Canitas,  CABA' 'Constitución' 'San Nicolas'
 'Palermo Soho' 'Palermo Hollywood' 'Reoleta' 'San Telmo' 'CF'
 'Colegiales, CABA' ' CABA. Palermo' 'Ciudad Autonoma de  CABA'
 ' CABA - CAPITAL' 'Recoleta,  CABA' ' CABA / Puerto Madero'
 ' CABA, Argentina' 'Autonomous City of  CABA' 'Palermo,  CABA' 'Centro'
 'ciudad autonoma de  CABA' ' CABA - Caballito -' 'Las Cañitas Palermo'
 'San Nicolás' ' CABA, Capital Federal, Palermo' 'Belgrano' 'Nuñez'
 ' CABA Capital Federal' 'Coghlan' ' CABA / Almagro' 'La Boca' 'recoleta'
 'Palermo SOHO' 'Balvanera' ' CABA caba ' 'Буэнос-Айрес'
 'Cuidad Autónoma de  CABA' ' CABA - ' 'Villa Urquiza' 'CABA, Palermo'
 'Vicente López' ' CABA,capital' ' CABA, Barrio de Colegiales' 'Congreso'
 'Núñez' 'Microcentro' 'San Telmo,   CABA' ' CABA, Palermo'
 ' CABA    Capital' ' CABA, Recoleta' 'Villa Crespo' 'Caballito'
 'Billinghurst' 'Palermos Hollywood' 'Barracas' 'AXB'
 ' CABA / Retiro / Plaza San Martin' ' CABA, CENTRO' 'Belgrano '
 'Chacarita' 'Parque Patricios' 'Parque Chas' 'Floresta' 'AAP'
 'capital federal' 'Gerli' 'Caba' 'ABJ' 'Colegiales' 'Capital Federal '
 'EYL' 'Caba - CABA' ' CABA caballito ' 'Villa Ortúzar' 'CZA' 'Comuna 1'
 'San Telmo,' 'CAPITAL FEDERAL' 'Flores' 'Parque Chacabuco'
 'Villa Pueyrredón' ' CABA, CABA, AR' 'Avenida Corrientes 820, CABA'
 'Saavedra' 'Ciudadela' 'Chascomus' 'Paternal' 'Vélez Sarsfield'
 ' CABA, San Telmo' 'Florida' ' CABA (Belgrano =' 'palermo' 'Morón'
 'caballito' 'Tandil' 'CABA, Balvanera' 'Capital federal  CABA' 'pinamar'
 'San Cristobal' 'Tigre' 'Capital federal ' 'San Cristóbal ' 'caballito '
 'Puerto Madero' 'Almagro ' 'Villa General Mitre' 'Parque Avellaneda'
 'Boedo' 'capital federal caballito ' 'Villa Devoto'
 'Ciudad Autonóma de  CABA' 'Comuna 13' 'Comuna 15' ' CABA,  CABA, AR'
 'Villa Real' 'la boca,  CABA, AR' 'AAM' 'Recoleta, CABA ' 'Caba '
 'Villa Crespo/Palermo' 'Constituci' 'Comuna 3' 'CEF' 'Recoleta '
 'Villa Luro' ' CABA.' 'Villa Santa Rita' 'Barrio Norte, Recoleta'
 'Mataderos' 'EZC' 'SanTelmo' 'AAQ' 'Villa Lugano' 'Villa del Parque'
 'Agronomía' 'Monte Castro' 'C1176ADF' 'Luján' 'AHR' 'Villa Crespo ' 'CWZ'
 'Villa Pueyrredón ' 'bu' 'Versalles' ' CABA, Capital Federal '
 'Nueva Pompeya' 'AAG' 'Olivos' 'Nunez' ' CABA 布宜諾斯艾利斯' 'MONSERRAT'
 'Palermo ' 'Palermo Hollywood,  CABA' 'San Telmo,  CABA' '布宜諾斯艾利斯'
 'San Telmo CABA' ' CABA (CABA)' 'Valentín Alsina' 'La Recova de Posadas'
 'C1143AAD' 'BTC' 'ABB' 'CABA,' 'Capital Federal, Núñez'
 'Distrito Audiovisual' 'C1426DHB dto 6' 'C1425FOF' 'AAH' 'Ca ba '
 'Congreso, Centro, barrio Monserrat' 'Palermo Hollywood ' 'C1414BBN'
 'Liniers' 'Urquiza ' '  CABA' 'Villa Riachuelo' 'caba' 'C1428CQS'
 'C1425FOH' 'C.A.B.A' ' CABA Ciudad Autonoma de  CABA' 'AAT' 'Capital'
 'Mar del Plata' 'C1431EAP' 'Villa Urquiza ' 'Abasto' 'Palermo Queens'
 'San Cristóbal' 'Capital ' 'ABI' 'BXA' 'Capital Federal,  CABA'
 ' CABA C 1430 DNN CABA' 'SAN TELMO ' 'Cañitas' 'Cuidad de  CABA' 'Bs as '
 'Ciudad autonoma de  CABA (CABA)' 'CHY' 'Pilar' 'C1414DRC' 'Cap' 'BTN'
 'Comuna 4' 'Villa Soldati' 'San Telmo ' ' CABA. Barrio norte capital '
 'AYE' 'AAY' 'Saavedra ' 'ABE' 'Caballitos' 'BWM' 'AAS' 'Bs As'
 'Palermo, CABA' 'Balvanera ' 'Autónoma de  CABA' ' CABA, Capital Federal'
 'Colegiales ' 'AEC' 'ACN' 'Autónoma de  CABA ' 'DNY' 'Núñez,  CABA'
 'Sáenz Peña' 'CYH' 'AAI' 'Núñez ' 'CTP' 'DEQ' 'CXW' 'C1425DQI' 'BTJ'
 'ACJ' 'ENE' ' Aies' 'Beunos CABA' 'BGS' 'C1414BNA' 'Recoleta.' 'BZB'
 'Monserrat ' 'C1102AAF' 'Cerrito' 'DVM' 'Constitución,  CABA'
 'Bahía Blanca' 'EZB' 'AAA' 'C1425BYL' 'AAD' 'C1426CRE las cañitas' 'ADB'
 'FID' 'ACF' 'DAK' ' ' 'BVC' 'BGO' 'AAO' 'DQR' 'Parque chas' 'ABF' 'BML'
 'CABA (CABA)' 'AAB' 'DQT' 'FOP' 'Vélez Sársfield' 'FSE' 'C1424CKC'
 'Colegiales , CABA' 'FEE' 'DHT' 'Parque centenario ' 'BUB' 'Comuna 10'
 'C1425DQQ' 'Bueno CABA' 'DGG' 'CABA, Recoleta' 'DJD' 'ADF' 'BQK' 'AAF'
 'Ciudad autonoma de  CABA' 'AAJ' ' CABA Recoleta' 'DKI' 'AIB' 'C1414CMP'
 'BLA' 'ABN' 'CFB' 'FUD' 'DGB' 'Ciudad autónoma de bs as ' 'CXF' 'EGM'
 'FBH' 'ABU' 'FFD' 'CEW' 'BAJ' 'ABD' ' Aíres ' 'DEN' 'BNN' 'AAX'
 'Palermo Queen' 'AAC' 'AYZ' 'CNC Nuñez' 'CHS' 'AAK' 'ABQ' 'AAE' 'ECB'
 'FIH' 'FDB' 'Comuna 5' 'AAN' 'AAR' 'AAV' 'AFE' 'CTM' 'ALA' 'AYM' 'DTG'
 'BSP' 'ACC' 'DUI' 'CDQ' 'ABS' 'ABA' ' CABA, Recoleta ' 'ABK' 'BLQ' 'EHV'
 'AAW' 'ABZ' 'CIB' 'FMN' 'EKB' 'ABY' 'San Nicolás ' 'ABH' 'FLB' 'FQC'
 'BJN' 'BJF' 'ACG' 'DPQ' 'ABT' 'EWH' 'BBA' 'BCC' 'CGU' 'EFG' 'BLW'
 'Pinamar' 'AYA' 'BRZ' 'AQO' 'BBG' 'ACO' 'ACR' 'FZB' 'DCM' 'CQI' 'BXN'
 'DBE' 'AAZ' 'BRK' 'AJF' 'DOF' 'EEB' 'ABM' 'AEV' 'CID' 'ELI' 'C1414BFK'
 'ADC' 'DFB' 'BUQ' 'BBM' 'ASF' 'AAL' 'AWG' 'FYV' 'ADL' 'BHE' 'CYI' 'ACA'
 'EHX' 'Palermo, Ciudad Autonoma de  CABA' 'BYI' 'ABC' 'C1425EKO' 'FUO'
 'BTI' 'BSJ' 'AAU' ' CABA  . Cap federal ' 'DPJ' 'CDB' 'BEI'
 'San Cristobal ' 'ADW' 'CUP' 'BZA' 'DGL' 'BFA' 'CPF' 'AYK' 'BTL'
 ' CABA, Palermo. Las cañitas' 'AQE' 'DUR' 'BSO' 'EKA' 'ACD' 'HRE' 'DUH'
 'FON' 'BXK' 'FOU' 'BOB' 'ACP' 'BRO' 'BUS' 'Retiro ' 'AUC' 'ADO' 'DDC'
 'FUG' 'Colegiales  Palermo Belgrano' 'Belgrano,' 'BWG' 'EGG' 'DZA' 'BAF'
 'DEC' 'CXR' 'DTW' 'ANB' 'Centro ' 'BVA' 'Caña' 'CZD' 'BTH'
 'PB 1 C1429AVH' 'BDC' 'AJC' 'BYM' 'CTK' 'DNR' 'DTQ' 'BCG' 'CMD' 'AJG'
 'ELM' 'FFG' 'EDE' 'CWI' 'BNA' 'DHM' 'BSH' 'DGH' 'DGT' 'Cuidad de  CABA '
 'BQE' 'DCA' 'AUF' 'AFF' 'C1425FFG' 'DGK' 'DFC' 'DTK' 'EKC' 'AYI' 'BPP'
 'APC' 'EHS' 'DFA' 'BWJ' 'BWW' 'CZE' 'BXF' 'BKM' 'AUK' 'EFH' 'ACK' 'CCD'
 'Lobos' 'BWP' 'BTO' 'DRZ' 'BBS' 'BZU' 'CRA' 'EHC' 'FAC' 'BGL' 'FBD' 'CTL'
 'Palermo chico' 'DHJ' 'DID' 'Parque Patricios ' 'CHU' 'ASD' 'CTQ'
 '  CABA ' 'AIC' 'DKW' 'BMB' 'AEM' 'BNT' 'JQF' 'DQH' 'DKF' 'ADA' 'DNX'
 'DBB' 'DVP' 'ACT' 'ENA' 'AID' 'FNH' 'ALN' 'AUA' 'BVQ' 'AHB' 'ABP' 'EKF'
 'DDL' 'GZT' 'BUG' 'CTI' 'EHU' 'EED' 'BPO' 'CYC' 'C1138ABH' 'FVD' 'DJX'
 'FWG' 'EKV' 'FEF' 'BFI' 'AQG' 'DPT' 'FCA' 'ESA' 'DFD' 'ADD'
 ' Capital Federal' 'DKB' '4°C' 'DHU' 'ABG' 'C1425AUM' 'EYQ' 'EHO' 'BTK'
 'ATE' 'DYY' 'ACB' 'Cáspita Federal' 'BMX' 'FMO' 'AOA' 'DBC' 'DOA' 'COR'
 'ABV' 'Ciudad autónomade  CABA' 'COM' 'AQB' 'CMW' 'GBX' 'FFF'
 'Coronel brandsen' 'Las Cañitas, Palermo' 'CTS' 'BBE' 'ADM' 'BGB' 'DTO'
 'CXB' 'ACL' 'CVN' 'CTB' 'BYB' 'ABO' 'BSN' 'BJA' 'DBD' 'BEL' 'DJK' 'AQM'
 'C1405BLF' 'BJR' 'BWT' 'C1424BOJ' 'DEO' 'COK' 'GCA' 'ACE' 'FLC' 'CCK'
 'DCE' 'ELN' 'BJD' 'ABL' 'DAC' 'EGK' 'BOJ' 'BBN' 'DHB' 'CQP' 'DDD' 'DQS'
 'AOY' 'BAD' 'COP' 'EKP' 'FOS' 'EAJ' 'CKM' 'AGS' 'BTQ'
 'Palermo, Capital Federal' 'Manzanares ' 'ACM' 'ABW' 'BRB' 'CAZ' 'ABX'
 'DDA' 'CKP' 'EGE' 'BUP' 'AWL' 'EOP' 'FBB' 'ACH' 'EDB' 'DVJ' 'ACI' 'BSM'
 'DQO' 'DTE' 'BEE' 'EEA' 'BRU' 'BUD' 'EGA' 'DOR' 'BDE' 'AGI' 'DEF' 'EQA'
 'DKE' 'BUM' 'Dawn Beach, St Maarten NA' 'FWA' 'SAN TELMO' 'EGO'
 'Las Cañitas' 'BOL' 'DUL' 'DEM' 'DCC' 'BRX' 'CPQ' 'Comuna 12' 'CIC' 'BSI'
 'DTB' 'FLP' 'CMX' 'Autonoma de  CABA' 'BTP' 'FLD' 'DGI' 'DHY' 'EOE' 'EBK'
 'DTJ' 'ABR' 'EKQ' 'BZP' 'EYA' 'EQX' 'CQB' 'BEG' 'CAI' 'ETA' 'ADK' 'AOM'
 'BXB' 'AOT' 'BVH' 'BWV' 'BOX' 'CPV' 'DIA' 'CAC' 'BHC' '' 'DMC' 'FLE'
 'BNC' 'CABA Ciudad Autonoma de  CABA' 'CQF' 'BWF' 'BOM' ' CABA - CABA '
 'AUW' 'DLB' 'APG' 'CPE' 'FOJ' 'EKH' 'BTF' 'CJC' 'FBG' 'DNB'
 'Ciudad. Autónoma de  CABA' 'ELF' 'BST' 'AHF' 'BOA' 'CHD' 'AGK' 'DAS'
 'EGD' 'DSB' 'AFA' 'FOO' '9 de julio ' 'AHA' 'BOY' 'DHG' 'CTX' 'BBH' 'CCA'
 'BNH' 'C1414BQI' 'DML' 'EKK' 'ARN' 'ELA' 'BRH' 'CCB' 'BNQ' 'DEJ'
 'San telmo' 'ADU' 'DPF' 'CXG' 'BUR' 'FQG' 'EAT' 'EFB' 'ASP' 'AGB' 'CDO'
 'Juan Maria Gutierrez' 'DXK' 'HCS' 'BBL' 'CCN' 'FWF' 'DWB' 'BOF' 'DGF'
 'AWC' 'AJD' 'FEI' 'BPL' 'ECA' 'DTS' 'ASU' 'CRN' 'DGR' 'BIC' 'AUD' 'BGN'
 'FWH' 'FIG' 'FFH' 'CGX' 'CTN' 'Aae' 'Comuna 7' 'BTE' 'BMD' 'BMJ' 'BGA'
 'AZG' 'DYD' 'CQE' 'GKM' 'BKN' 'AYD' 'MHH' 'BSV' 'AZK' 'AQA' 'GAO' 'FRF']

In [ ]:
listas['city'].fillna('Sin registrar', inplace=True)

In [ ]:
listas[listas['city'].str.contains('Aires')]

In [52]:
nombresPais= listas['country'].unique()
print(nombresPais)

['Argentina' 'Saint Martin']

In [53]:
listas.loc[listas['city'].str.contains('Aires', case=False), 'city']=listas['city'].str.replace('Aires','CABA', case=False)

In [55]:
listas.loc[listas['city'].str.contains('Buenos', case=False), 'city']=listas['city'].str.replace('Buenos','', case=False)

In [57]:
listas.loc[listas['city'].str.contains('Ciudad autónoma de  ', case=False), 'city']=listas['city'].str.replace('Ciudad autónoma de  ','', case=False)

In [61]:
listas.loc[listas['city'].str.contains('ciudad de  ', case=False), 'city']=listas['city'].str.replace('ciudad de  ','', case=False)

In [ ]:
listas.loc[listas['city'].str.contains('ciudad de  ', case=False), 'city']=listas['city'].str.replace('ciudad de  ','', case=False)

In [93]:
print(listas['price'][3])

2987.00

In [88]:
listas['price']=listings['price']

In [90]:
listas.loc[listas['price'].str.contains('$', case=False), 'price']=listas['price'].str.replace('$','', case=False)

In [92]:
listas.loc[listas['price'].str.contains(',', case=False), 'price']=listas['price'].str.replace(',','', case=False)

In [ ]:
#listas['price'].str.replace('$','')

In [ ]:
#listas['price'].str.replace(',','')

In [94]:
listas.head(20)

,id,host_id,city,state,country,latitude,longitude,property_type,room_type,bathrooms,price,review_scores_rating
0,11508,42762,CABA,Capital Federal,Argentina,-34.58184,-58.42415,Condominium,Entire home/apt,1.0,3983.00,95.00000
1,12463,48799,CABA,Capital Federal,Argentina,-34.59761,-58.39468,Apartment,Private room,1.0,1593.00,95.00000
2,13095,50994,CABA,Capital Federal,Argentina,-34.59382,-58.42994,Bed and breakfast,Private room,1.0,2987.00,100.00000
3,13096,50994,CABA,Capital Federal,Argentina,-34.59398,-58.42853,Bed and breakfast,Private room,1.0,2987.00,94.65283
4,13097,50994,CABA,Capital Federal,Argentina,-34.59348,-58.42949,Bed and breakfast,Private room,1.0,2987.00,99.00000
5,13099,50994,CABA,Capital Federal,Argentina,-34.59362,-58.42984,Bed and breakfast,Private room,1.0,3983.00,94.65283
6,13100,50994,CABA,Capital Federal,Argentina,-34.59288,-58.43010,Bed and breakfast,Private room,1.0,4647.00,80.00000
7,14222,55825,Palermo/ CABA,Autonomous City of Buenos Aires,Argentina,-34.58777,-58.41106,Apartment,Entire home/apt,1.0,2522.00,96.00000
8,14711,57770,CABA,Capital Federal,Argentina,-34.60913,-58.37372,Other,Entire home/apt,1.0,7965.00,94.65283
9,15074,59338,CABA,Autonomous City of Buenos Aires,Argentina,-34.53724,-58.46580,Apartment,Private room,1.0,1991.00,94.65283
10,15889,62183,CABA,Capital Federal,Argentina,-34.60290,-58.41140,Apartment,Private room,1.0,2323.00,95.00000
11,16695,64880,CABA,Capital Federal,Argentina,-34.61439,-58.37611,Loft,Entire home/apt,1.0,4315.00,86.00000
12,16696,64880,CABA,Capital Federal,Argentina,-34.61494,-58.37517,Loft,Entire home/apt,1.0,3319.00,89.00000
13,16697,64880,CABA,Capital Federal,Argentina,-34.61494,-58.37517,Loft,Entire home/apt,1.0,2987.00,85.00000
14,17451,67732,CABA,Autonomous City of Buenos Aires,Argentina,-34.55811,-58.46462,House,Private room,1.0,2257.00,94.65283
15,17993,68689,CABA,Capital Federal,Argentina,-34.60175,-58.37860,Apartment,Entire home/apt,1.0,2987.00,100.00000
16,18007,69404,CABA,Capital Federal,Argentina,-34.61540,-58.37780,Apartment,Entire home/apt,1.0,23233.00,94.65283
17,18061,69605,CABA,Ciudad Autónoma de Buenos Aires,Argentina,-34.61986,-58.36947,Loft,Entire home/apt,1.0,2987.00,93.00000
18,19583,74263,CABA,Capital Federal,Argentina,-34.59593,-58.39257,Apartment,Entire home/apt,1.0,2257.00,97.00000
19,20062,75891,CABA,Autonomous City of Buenos Aires,Argentina,-34.58183,-58.44143,Apartment,Entire home/apt,1.5,5974.00,98.00000

In [ ]:
#calendar.to_csv('calendario.csv', index=False)

In [ ]:
#calendar.to_csv('calendario.csv', index=False)

In [98]:
listas.to_csv('listas.csv',index=False)

In [99]:
import seaborn as sns
import matplotlib.pyplot as plt

In [102]:
import numpy as np

In [104]:
matriz_correlacion=listas.corr('review_scores_rating','bathrooms')

ValueError: could not convert string to float: ' CABA'